{% load static %}
<html>
	<head>
		<title> Shamyna Love Story</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<link rel="icon" type="image/x-icon" href="{% static 'images/beetle.png' %}">
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css'%}" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">
			 <!-- Header -->
			 <div id="header">
				<div class="inner">
					<header>
						<h1><a href="index.html" id="logo">Our Love Story</a></h1>
						<hr />
						<p>A website dedicated to the beautiful journey of our love</p>
					</header>
					<footer>
						<a href="#banner" class="button circled scrolly">Start</a>
					</footer>
				</div>
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'left' %}">Left Sidebar</a></li>
						<li><a href="{% url 'right' %}">Right Sidebar</a></li>
					</ul>
				</nav>
			</div>
		
			<!-- Banner -->
			<section id="banner">
				<header>
					<h2>Our Love Story</h2>
					<p>A journey of love, faith, and endless dreams</p>
				</header>
			</section>
		
			<!-- Main Content -->
			<div class="wrapper style2">
                <a href="#" class="image featured"><img src="{% static 'images/simp.jpg' %}" alt="" /></a>
				<article id="main" class="container special">
					<header>
						<h2><a href="#">How We Met</a></h2>
						<p>
							It all began with a simple message, a message that changed our lives forever.
						</p>
					</header>
					<p>
						I still remember the day vividly, I was seeking information about the 1st-year orientation, and as fate would have it, I stumbled upon a conversation where your name appeared. Little did I know that sending that message would lead me to you, the love of my life.
						<br/><br/>
						Despite the initial confusion and misunderstanding, every moment was worth it because it brought me closer to you. Two years of waiting, dreaming, and hoping finally led to the most beautiful chapter of our lives.
						<br/><br/>
						You, with your unwavering faith, values, and kindness, captivated my heart like no other. Every day spent getting to know you felt like a blessing, and I knew deep within my soul that you were meant to be mine.
						<br/><br/>
						From our shared laughter to our heartfelt conversations, every memory we've created together has only strengthened our bond. Our love story is a testament to the power of fate and the beauty of finding true love when least expected.
						<br/><br/>
						Today, as we embark on this journey together, hand in hand, I am grateful for every twist and turn that led me to you. You are my soulmate, my partner, and my greatest love, and I cherish every moment we share.
					</p>
					<footer>
						<a href="#main" class="button">Re-Read To Confirm 👍🏾😂</a>
					</footer>
				</article>
			</div>
		

			<!-- Carousel -->
				<!-- Carousel -->
<section class="carousel">
    <div class="reel">

        <article>
            <a href="#" class="image featured"><img src="{% static 'images/hug.jpg' %}" alt="" /></a>
            <header>
                <h3><a href="#">The Day Our Eyes Met</a></h3>
            </header>
            <p>Our journey began with a glance, a moment that changed everything.</p>
        </article>

        <article>
            <a href="#" class="image featured"><img src="{% static 'images/us.jpg' %}" alt="" /></a>
            <header>
                <h3><a href="#">Two Souls Intertwined</a></h3>
            </header>
            <p>Destiny brought us together, weaving our lives into one beautiful story.</p>
        </article>

        <article>
            <a href="#" class="image featured"><img src="{% static 'images/janii.jpg' %}" alt="" /></a>
            <header>
                <h3><a href="#">A Journey of Love</a></h3>
            </header>
            <p>Every step, every moment, filled with love, laughter, and dreams shared.</p>
        </article>

        <!-- Add beautiful words here -->
        <article>
			<a href="#" class="image featured"><img src="{% static 'images/4.jpg' %}" alt="" /></a>

			<header>
                <h3><a href="#">Forever and Always</a></h3>
            </header>
            <p>
            Forever and always, my love, forever and always.</p>
        </article>
        <!-- End of  beautiful words -->

        <article>
            <a href="#" class="image featured"><img src="{% static 'images/gift.jpg' %}" alt="" /></a>
            <header>
                <h3><a href="#">Embracing the Future</a></h3>
            </header>
            <p>We step forward, hand in hand, towards our shared dreams.</p>
        </article>

        <article>
            <a href="#" class="image featured"><img src="{% static 'images/sisi.jpg' %}" alt="" /></a>
            <header>
                <h3><a href="#">Unforgettable Moments</a></h3>
            </header>
            <p>Each memory we create together becomes a treasure, cherished for eternity.</p>
        </article>

    </div>
</section>


<div class="wrapper style2">

    <article id="main" class="container special">
        <a href="#" class="image featured"><img src="{% static 'images/lav.jpg' %}" alt="" /></a>
        <header>
            <h2><a href="#">Love's Embrace</a></h2>
            <p>
                In the embrace of love, every moment becomes a cherished memory, every heartbeat a symphony of affection. 
                Let our souls dance in the rhythm of eternal devotion.
            </p>
        </header>
        <p>
            With each breath, our love blossoms, weaving dreams into reality,
            and painting the canvas of our lives with the colors of passion and tenderness.
        </p>
        <footer>
            <a href="https://drive.google.com/drive/folders/1kd4z1R1RCeEVJuTTKLrL4Cf4SZ01zq6T?usp=sharing" class="button">Link - OurGallery 🥳🥳
            </a>
        </footer>
    </article>

</div>

<!-- Features -->
<div class="wrapper style1">

    <section id="features" class="container special">
        <header>
            <h2>A Journey of Love and Discovery</h2>
            <p>Explore the wonders of love's boundless horizons and the magic of shared experiences.</p>
        </header>
        <div class="row">
            <article class="col-4 col-12-mobile special">
                <a href="#" class="image featured"><img src="{% static 'images/journey.jpg' %}" alt="" /></a>
                <header>
                    <h3><a href="#">Unveiling the Heart</a></h3>
                </header>
                <p>
                    Within the depths of our hearts lie the untold stories of love, waiting
                     to be discovered and cherished for eternity.
                </p>
            </article>
            <article class="col-4 col-12-mobile special">
                <a href="#" class="image featured"><img src="{% static 'images/she.jpg' %}" alt="" /></a>
                <header>
                    <h3><a href="#">Embracing Serenity</a></h3>
                </header>
                <p>
                    In the tranquility of our togetherness, we find solace, strength, and the courage to face life's challenges hand in hand.
                </p>
            </article>
            <article class="col-4 col-12-mobile special">
                <a href="#" class="image featured"><img src="{% static 'images/me.jpg' %}" alt="" /></a>
                <header>
                    <h3><a href="#">Eternal Affection</a></h3>
                </header>
                <p>
                    Our love knows no bounds, reaching beyond the stars and echoing throughout the universe, an eternal testament to the power of our bond.
                </p>
            </article>
        </div>
    </section>

</div>

<!-- Footer -->
<div id="footer">
    <div class="container">
        <div class="row">

            <!-- Social Media -->
            <section class="col-4 col-12-mobile">
                <header>
                    <h2 class="icon brands fa-twitter circled"><span class="label">Tweets</span></h2>
                </header>
                <ul class="divided">
                    <li>
                        <article class="tweet">
                            Sharing love's journey with the world, one heartbeat at a time. <span class="timestamp">5 minutes ago</span>
                        </article>
                    </li>
                    <!-- Add more tweets if desired -->
                </ul>
            </section>

            <!-- Blog Posts -->
            <section class="col-4 col-12-mobile">
                <header>
                    <h2 class="icon solid fa-file circled"><span class="label">Posts</span></h2>
                </header>
                <ul class="divided">
                    <li>
                        <article class="post stub">
                            <header>
                                <h3><a href="#">Capturing Moments of Bliss</a></h3>
                            </header>
                            <span class="timestamp">3 hours ago</span>
                        </article>
                    </li>
                    <!-- Add more blog posts if desired -->
                </ul>
            </section>

            <!-- Photo Gallery -->
            <section class="col-4 col-12-mobile">
                <header>
                    <h2 class="icon solid fa-camera circled"><span class="label">Photos</span></h2>
                </header>
                <div class="row gtr-25">
                    <div class="col-6">
                        <a href="#" class="image fit"><img src="{% static 'images/last.jpg' %}" alt="" /></a>
                    </div>
                    <!-- Add more photos if desired -->
                </div>
            </section>

        </div>
        <hr />
        <div class="row">
            <div class="col-12">

                <!-- Contact Information -->
                <section class="contact">
                    <header>
                        <h3>Let Love Lead the Way</h3>
                    </header>
                    <p>Reach out and share your love with the world. Together, we can illuminate the darkness with the light of compassion.</p>
                    
						<ul class="icons">
							<li><a href="" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/iams.harmah/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
							<li><a href="" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
						</ul>
                        <!-- Add more social media links if desired -->
                    
                </section>

                <!-- Copyright -->
                <div class="copyright">
                    <ul class="menu">
                        <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="#">Shama Bernard</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

</div>


		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js '%}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>